*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
ul li{
    text-decoration: none;
    list-style-type: none;
}
a{
    text-decoration: none;
    list-style-type: none;
}
img{
    max-width: 100%;
    height: auto;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 9px 13px 9px 13px;
}
.header1{
    display: flex;
    color: #FA793C;
    align-items: center;
}
.burger{
    padding-right: 30px;
}
.header2 {
    display: flex;
}
.header2 nav ul{
    display: none;
}
.main{
    display: flex;
    text-align: center;
    background-image: url(assets/image/foto1.png);
    background-size: contain;
    background-repeat: no-repeat;
    padding-bottom: 227px;
    padding-top:11px;
    justify-content: center;
  
}
.main1 h1{
    color: white;
    border-bottom-style: solid;
    border-color: white;
    padding-bottom: 10px;
}
.main1 p{
    color: white;
    text-align: center;
    padding-top: 17px;
    
}
.main2{
    display: none;
}
.section{
    padding: 11px 13px 46px 14px;
}
.section p{
    max-width: 348px;
}
.section h3{
    color: #FA793C;
    padding-bottom: 11px;
}
.section h1{
    border-bottom-style: solid;
    padding-bottom: 5px;
    
}
.section1 h6{
    padding-top: 37px;
    padding-bottom: 15px;
    padding-left:20px ;
}
.section1 p{
    padding-left: 20px;
}
.section1 h4{
    padding-left: 20px;
}

.morenews{
    padding-top: 11px;
    text-align: left;
}
.section2{
    border-style: solid;
    border-color: #686767;
    margin:6px 13px 1px 13px;
}
.section3{
    border-style: solid;
    border-color: #686767;
    margin:18px 13px 47px 13px;
}
.section4{
    display: none;
}
.mainsection h1{
    padding-left: 15px;
}
.mnews{
    border-bottom-style: solid;
    border-color: #585656;
}
.footer2{
    background-image: url(assets/image/foto5.png);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: left;
    padding:180px 21px 28px 21px;
    color: white;

}
.PHOTOGRAPH{
    margin-left: 63px;

}
.footer1 h3{
    padding-bottom: 8px;
}
.footer3{
    background-image: url(assets/image/foto6.png);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: left;
    padding:180px 21px 28px 21px;
    color: white;
}
.footer4{
    max-width: 341px;
    border-style: solid;
    border-color: #575555;
}
.inside{
    padding: 18px 15px 12px 20px;

}
.footer5{
    display: none;
}
.footer6{
    display: none;
}

footer{
    margin-top: 70px;
    text-align: center;
    background-color: #000000;
    padding-top: 18px;
    padding-bottom: 18px;
    align-items: center;
}
footer h1 a{
    color: white;
}
footer h1 a img{
    padding-right: 14px;
}
@media screen and ( min-width:376px ){
    .burger{
        display: none;
    }
    .man{
        padding-left: 42px;
    }
    .photo{
        padding-right: 15px;
        padding-left: 15px;
    }
    .discover{
        padding-left: 15px;
    }
    .header{
        display: flex;
        justify-content: space-between;
    }
    .header2 nav ul {
        display:flex;
       
    }
    .header2 nav ul a {
        color: #000000;
    }
    .header2 {
        display: flex;
    }
    .main{
        background-size: cover;
    }
    .main1 h1{
        padding-top: 31px;
    }
    .main1 p{
        width: 640px;      
    }
    .section{
        display: flex;

    }
    .mainsection{
        padding: 32px 67px; 
    }
    .travelnews{
        padding-left: 42px;
    }
    .section1{
        display: flex;
        text-align: left;
        justify-content: space-between;
        
    }
    .section2{
        max-width: 341px;
        max-height: 350px;
        margin-top: 15px;
    }
    
    .section3{
        max-width: 341px;
        margin-left: 18px;
    }
    .footer5{
        max-width: 340px;
        display: block;
        border-style: solid;
        border-color: #575555;
        margin-right: 66px;
    }
    .footer1{
        display: grid;
        gap: 1.5rem;
        grid-template-columns: repeat(2,1fr);
        margin-left: 67px;
    }
    .footer2{
        max-width: 700px;
        grid-column-start:1;
        grid-column-end: 3;
    }
    .footer3{
        max-width: 700px;
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .footer4{
        max-width: 341px;
    }


    
    
}
@media screen and (min-width:835px) {
    .main2{
        display: flex;
        flex-direction: column;
        background-color: white;
        padding: 27px 41px 33px 38px;
        max-width: 440px;
        height: auto;
        align-items: center;
        margin-left: 177px;
        margin-top: 124px;
    }
    .main2 h3{
        color: #FA793C;
    }
    .mainheader{
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom-style: solid;
        border-color: #696666;
        padding-bottom: 8px;
        text-align: left;
    }
    .mainheader h1{
        padding-right: 90px;
    }
    .right{
        padding-left: 23px;
    }
    .mainheader1{
        padding-top: 17px;
        text-align: left;
        padding-bottom: 10px;
    }
    .mainheader1 h3{
        padding-bottom: 8px;
    }
    .mainheader2 h3{
        padding-bottom: 8px;
    }
    .mainheader2{
        padding-top: 17px;
        text-align: left;
        padding-bottom: 10px;
    }
    .main1{
        padding-top: 151px;
        max-width: 576px;
        text-align: left;
    }
    .main1 p{
        max-width: 532px;
        text-align: left;
    }
    .header1{
        padding-left:70px ;
    }
    .section4{
        display: block;
        border-style: solid;
        border-color: #686767;
        margin:18px 13px 47px 13px;
        max-width: 341px;
        max-height: 350px;
    }
    .mnews{
        display: none;
    }
    .section{
        display: none;
    }
    .section1{
        margin-top: 34px;
        margin-bottom: 52px;
    }
    .footer6{
        display: block;
    }
    .footer{
        margin-right: 130px;
    }
    .footer1{
        grid-template-columns: repeat(2,1fr);
    }
    .footer2{
        max-width: 779px;
        height: 400px;
        padding-top: 277px;
    }
    .footer3{
        max-width: 779px;
        height: 400px;
        padding-top: 277px;
        margin-top: 50px;
        
    }
    .footer4{
        max-width: 380px;
        height: 280px;
        grid-column-start: 3;
        grid-row-end: 2;

    }
    .footer5{
        max-width: 380px;
        height: 280px;
        grid-column-start:3;
        grid-column-end:4;
        
    }
    .footer6{
         border-style: solid;
        border-color: #686767;
        max-width: 380px;
        height: 280px;
        grid-column-start: 3;
    }
   
}